/*头部header*/
.header{
	width: 100%;
	height: 125px;
}
.logo{
	width:303px;
	height: 73px;
	margin-top:28px;
	margin-bottom: 24px;
	background: url(../img/1_index/logo.jpg) no-repeat;
}
.top_nav{
	width: 390px;
	height: 112px;
	margin-left: 70px;
	margin-right: 80px;
	margin-bottom: 13px;
	background:url(../img/1_index/activity.jpg) no-repeat 0 30px;
}
.yinchang{
	display: none;
}
.top_nav li {
	width:100px;
	height:30px;
	float:left;
	padding-top:82px;
	padding-right: 30px;
	font-size: 20px;
	text-align: right;
	background: url(../img/1_index/minbutton.jpg) no-repeat 0 82px;
}
.top_nav li a{
	
	color: #2b2b2b;
	width:100px;
	height:30px;
}
.user_menu{
	width: 300px;
	height: 73px;
	margin:52px 30px 0 0;
	padding-left: 55px;
	background: url(../img/1_index/top.jpg) 0 bottom no-repeat;
	position: relative;
}
.user_menu li {
	width: 100px;
	height: 50px;
	float: left;
	text-align: right;
	
}
.user_menu li a {
	line-height: 50px;
	color: #4d4d4d;
	font-weight: 400;
	font-size: 13px;
	font-weight:bold;
}
#denglu{
	position: relative;
}
#header_account_btn{
	position: relative;
}

/*右边导航left_nav*/
.left_nav{
	width: 149px;
	height: 800px;
	border-top:1px solid #e6e6e6;
	border-right: 1px solid #E6E6E6;
}
.nav_top{
	width: 119px;
	height: 37px;
	border-bottom: 1px solid #e6e6e6;
	padding-left: 30px;
	font-size: 14px;
	line-height: 39px;
	color: #8b8b8b;
	font-weight:400;
	position: relative;
}
.nav_top span {
	width: 30px;
	height: 16px;
	position: absolute;
	top: 11px;
	left: 102px;
	display: block;
	line-height: 16px;
	text-indent: 30px;
	overflow: hidden;
	background: url(../img/1_index/new.gif);
	color: #ff5050;
	font-weight:400;
}
.nav1{
	width: 149px;
	height: 92px;
	margin-top:24px;
}
.nav1 a{
	float: left;
	width: 119px;
	height: 23px;
	font-size: 14px;
	padding-left:30px;
	color: #8b8b8b;
	font-weight:400;
}
.nav1 li .red{
	color: #ff5050;
}
.nav2{
	width: 149px;
	height: 253px;
	margin-top: 24px;
}
.nav2 a{
	float: left;
	width: 119px;
	height: 23px;
	font-size: 14px;
	padding-left:30px;
	color: #8b8b8b;
	font-weight:400;
	
}
.nav2 a span {
	color: #32c8f0;
	border-bottom: 1px dotted #32c8f0;
}

.nav3{
	width:149px;
	height: 77px;
	margin-top: 25px;
}
.nav3 a {
	float: left;
	width: 119px;
	height: 37px;
	font-size: 14px;
	line-height: 37px;	
	padding-left:30px;
	border-bottom: 1px solid #e6e6e6;
	color: #8b8b8b;
	font-weight:400;
}
.nav3 .border_t1{
	border-top:1px solid #e6e6e6;
}
.nav_buttom{
	width: 149px;
	height: 228px;
	margin-top: 28px;
}

/*主体subject*/
.bigsubject{
	width: 85%;
}
.subject{
	width: 1100px;
	/*height: 10559px;*/
	margin: 0 auto;
	padding-left: 10px;
	border-top:1px solid #e6e6e6;
}

/*主题表格*/
.theme_first{
	width: 240px;
	height: 330px;
	background: green;
}
table td>a{
	position: relative;
	width: 240px;
	height: 330px;
} 
.none{
	width: 240px;
	height: 107px;
	background: black;
	position: absolute;
	opacity: 0.5;
	top:-94px;
	left:-120px;
	z-index: 1;
	display: none;
}
.nonein{
	width: 240px;
	height: 107px;
	position: absolute;
	top:-94px;
	left:-120px;
	z-index: 2;
	display: none;
}

.none_txt{
	width:230px;
	margin:7px 5px 3px 5px;
	color: #FFFFFF;
}
.none_txt2{
	color: #FFFFFF;
}

.theme_right_top{
	width: 377px;
	height: 549px;
	background: green;
}
.theme_second_left{
	width: 481px;
	height: 218px;
	background:green;
}
.theme_second_right{
	width: 240px;
	height:218px;
	background: green;
}
.theme_right_buttom{
	width: 377px;
	height: 330px;
	background: green;
}

/*关键主题*/
.keytheme{
	width: 1100px;
	height: 220px;
	margin-top: 50px;
}
.keytheme li{
	width:219px;
	height:220px;
	float: left;
	margin-right: 1px;
}
.keytheme a{
	float: left;
	background: green;
	
}
/*列表主题*/
.list_title{
	width: 1100px;
	line-height: 25px;
	font-weight: 400;
	font-size:16px;
	text-align: center;
	padding:50px 0;
}
/*商品列表*/
.saleList{
	width: 1100px;
	height: 1512px;
	margin-bottom: 40px;
}
.saleList li,.saleList2 li{
	width: 286px;
	height: 460px;
	margin:22px 0;
	float: left;
}
.saleList .width240,.saleList2 .width240{
	width: 240px;
}

.saleList>li>a ,.saleList2>li>a{
	width: 240px;
	height: 330px;
	float: left;
}
.saleList .p1,.saleList2 .p1{
	width: 240px;
	height: 25.5px;
	float: left;
}
.saleList .p1 span ,.saleList2 .p1 span{
	width: 50px;
	height: 22px;
	float: left;
	background: url(../img/1_index/new.png) no-repeat;
}
.saleList .p2 ,.saleList2 .p2{
	width: 240px;
	height: 15px;
	margin-bottom: 5px;
	float: left;
}
.saleList .p2 a ,.saleList2 .p2 a{
	line-height: 14px;
	float:left;
	font-family: "arial";
	color: #999999;
}
.saleList .p3 ,.saleList2 .p3{
	width: 240px;
	height: 15px;
	float:left;
	margin-bottom: 5px;
}
.saleList .p3 a ,.saleList2 .p3 a{
	line-height: 14px;
	float:left;
	font-family: "arial";
	color: #999999;
}
.saleList .p4 ,.saleList2 .p4{
	width: 240px;
	height: 15.5px;
	float: left;
}
.saleList .p4 a ,.saleList2 .p4 a{
	font-size: 10px;
	font-weight:400;
	color: #0f0f44;
}
.saleList .p5 ,.saleList2 .p5{
	width: 240px;
	height: 15px;
	margin-top: 11px;
	float: left;
}

.border_t1{
	border-top:1px solid #e3e3e3;
}

/*商品列表2*/
.saleList2{
	width: 1100px;
	margin-bottom: 40px;
}
.saleList p a:hover,.saleList2 p a:hover{
	text-decoration:underline;
	color: #ff3366;
}

/*.saleList2 li{
	width: 286px;
	height: 460px;
	margin:22px 0;
	float: left;
	background: green;
}
.saleList2>li>a{
	width: 240px;
	height: 330px;
	float: left;
	background: yellow;
}
.saleList2 .width240{
	width: 240px;
}
.saleList2 .p1{
	width: 240px;
	height: 25.5px;
	background: palevioletred;
	float: left;
}
.saleList2 .p1 span{
	width: 50px;
	height: 22px;
	float: left;
	background: url(../img/1_index/new.png) no-repeat;
}
.saleList2 .p2{
	width: 240px;
	height: 15px;
	margin-bottom: 5px;
	float: left;
	background: palevioletred;
}
.saleList2 .p2 a {
	line-height: 14px;
	float:left;
	font-family: "arial";
	color: #999999;
}
.saleList2 .p3{
	width: 240px;
	height: 15px;
	float:left;
	margin-bottom: 5px;
}
.saleList2 .p3 a {
	line-height: 14px;
	float:left;
	font-family: "arial";
	color: #999999;
}
.saleList2 .p4{
	width: 240px;
	height: 15.5px;
	float: left;
	background: palevioletred;
}
.saleList2 .p4 a{
	font-size: 10px;
	font-weight:400;
	color: #0f0f44;
}
.saleList2 .p5{
	width: 240px;
	height: 15px;
	margin-top: 11px;
	float: left;
	background: palevioletred;
}*/

/*品质保证guaranteed*/
.guaranteed{
	width: 100%;
	height: 220px;
	margin-top: 20px;
	margin-bottom: 65px;
}
.guaranteed img{
	display:block;
	margin: 0 auto;
}

/*底部*/
.bottom{
	width:100%;
	height: 436px;
	border-top: 1px solid #e3e3e3;
}
.bottom_body{
	width: 1100px;
	height: 242px;
	margin: 0 auto;
	padding-top:60px;
	padding-bottom: 30px;
	border-bottom: 1px solid #E3E3E3;
	
}

/*底部联系*/
.bottom_contact{
	width: 444px;
	height: 241px;
	border-right: 1px solid #e3e3e3 ;
}
.tel{
	width: 100%;
	height: 44px;
	background: url(../img/1_index/tel.png) no-repeat;
}
.word_time,.address{
	width: 100%;
	height: 36px;
	margin-top: 18px;
	font-weight: bold;
}
.copyright{
	width:100%;
	height: 72px;
	margin-top:18px;
}
.info_1{
	font-family: "arial";
	color: #999999;
}
.info_2{
	color: #999999;
}

/*底部帮助*/
.bottom_help{
	width: 655px;
	height: 230px;
}
.help_list{
	width: 100%;
	height: 124px;
}
.help_list>div {
	width: 90px;
	height: 124px;
	margin-left: 45px;
	float: left;
}
.help_list .width62{
	width: 62px;
}
.help_list h3 {
	line-height: 42px;
	font-weight: bold;
	font-size: 14px;
	color: #9999a6;
}
.help_list ul{
	width: 100%;
	height: 72px;
	padding-top: 10px;
}
.help_list li{
	width: 100%;
	height: 24px;
}
.help_list li a{
	line-height: 24px;
	color: #9999a6;
}
.help_list li a:hover{
	text-decoration:underline;
}

.emailGoodsName{
	width: 655px;
	height: 106px;
}
.bottom_emali{
	width: 380px;
	height: 46px;
	margin-top: 60px;
	margin-left: 45px;
}
.email_sex{
	width: 64px;
	height: 46px;
	line-height: 46px;
	color: #FFFFFF;
	float: left;
	text-align: center;
	background: #999999;
}
.bottom_emali input {
	width:145px;
	height: 16px;
	padding:14px 15px;
	float: left;
	border: 1px solid #cccccc;
}
.email_btn{
	width:48px;
	height: 46px;
	float: left;
	line-height: 46px;
	text-align: center;
	color: #FFFFFF;
	background: #999999;
}
.goods_num{
	width: 200px;
	height: 44px;
	margin-top: 60px;
	border:1px solid #CCCCCC;
}
.goods_num li{
	padding-left: 20px;
	height: 22px;
	line-height: 22px;
	color: #999999;
}

/*证书certification*/
.certification{
	width: 1100px;
	height: 42px;
	padding:30px 0;
	margin: 0 auto;
}

/*顶部导航fixed_top_nav*/
.fixed_top_nav{
	width: 100%;
	height: 40px;
	position: fixed;
	top: 0;
	left: 0;
	background: #393939;
	display: none;
	z-index: 3;
}
.logonav{
	width: 160px;
	height: 40px;
	background: url(../img/1_index/logonav.jpg);
}
.menu{
	width: 1099px;
	height: 40px;
}
.menu>a{
	float: left;
	height: 40px;
	font-size: 14px;
	line-height: 40px;
	font-weight: 500;
	padding:0 13px;
	color: #f0f0f0;
	border-left: 1px solid #585858;
}
.menu>a .span_blue{
	width: 20px;
	font-family: "rage italic";
	font-size: 9px;
	line-height: 10px;
	padding-top: 10px;
	color: #32bee4;
}

/*右固定导航fixed_right_nav*/
/*导航按钮navbuttom*/
.navbuttom{
	width: 20px;
	height: 54px;
	position: absolute;
	top: 0;
	right: 100px;
	background: #d5d5d5;
	text-align: center;
	
}
.navbuttom>a{
	float: left;
	width: 20px;
	height: 54px;
	font-size: 16px;
	line-height: 54px;
	color: #270000;
}

.fixed_right_nav{
	width: 100px;
	height: 727px;
	position: fixed;
	top:126px;
	right: 0px;
	background: #f4f4f4;
	z-index: 3;
}
.quickMenu{
	width: 101px;
	height: 50px;
	border-bottom: 1px solid #e2e2e2;
}
.quick a{
	width: 50px;
	height: 50px;
	float: left;
	border-right: 1px solid #e2e2e2;
	background: url(../img/1_index/5_right_nav/quick.jpg) no-repeat;
}
.user a{
	width: 50px;
	height: 50px;
	float: left;
	background: url(../img/1_index/5_right_nav/quick2.jpg) no-repeat;
}
.userMenu{
	width: 100px;
	height: 318px;
}
.menu_login,.menu_cart,.menu_zzim{
	width: 100px;
	height: 106px;
	text-align: center;
	border-bottom: 1px solid #e2e2e2;
}
.menu_login{
	background: url(../img/1_index/5_right_nav/user.jpg) no-repeat;
}
.menu_cart{
	background: url(../img/1_index/5_right_nav/cart.jpg) no-repeat;
}
.menu_zzim{
	background: url(../img/1_index/5_right_nav/hellp.jpg) no-repeat;
}
#login_btn,#reg_btn,#cart_btn,#zzim_btn{
	float: left;
	color: #6f6f6f;
	font-size: 14px;
	padding-top:45px ;
	padding-bottom: 20px;
}
#login_btn{
	padding-left:16px;
}
#cart_btn{
	padding-left:23px;
}
#zzim_btn{
	padding-left:23px;
}
#login_btn:hover,#reg_btn:hover,#cart_btn:hover,#zzim_btn:hover,.helpMenu>li a:hover{
	color: #121212;
}
.helpMenu{
	width: 100px;
	height: 104px;
	margin-top: 20px;
}
.helpMenu>li{
	width: 100px;
	height: 26px;
	text-align: center;
}
.helpMenu>li a{
	color: #6f6f6f;
	font-size: 14px;
	font-weight: 500;
	line-height: 26px;
}
.promise{
	display: block;
	width: 100px;
	height: 134px;
	margin-top:20px ;
	padding-top:80px ;
	line-height: 26px;
	text-align: center;
	color: #bba7a7;
	background: url(../img/1_index/5_right_nav/promise_bg.jpg) no-repeat center 20px;
	background-color:#f4f4f4 ;
}






/*返回顶部topbuttom*/
.topbuttom{
	width: 100px;
	height: 34px;
	position: fixed;
	bottom: 0;
	right: 0;
	background: #d5d5d5;
	text-align: center;
	z-index: 3;
}
.topbuttom a{
	line-height: 34px;
	font-size: 18px;
	color: #000000;
	border-top: 3px solid #000000;
}

/*公告栏notice*/
.notice{
	width: 240px;
	height: 265px;
	position: fixed;
	bottom:34px;
	right: 100px;
	z-index: 3;
}
.close{
	height: 25px;
	line-height: 25px;	
	color: #999999;
	background: #FFFFFF;
}
.close>input{
	margin:auto 10px;
}
.close>a{
	font-size: 14px;
	color:#000000 ;
	padding:0 7px;
}
.close>a:hover{
	color: #7cc8f3;
}

/*遮罩global_shade*/
.global_shade{
	opacity: 0.5;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: black;
	display: none;
}

/*注册login*/
.login{
	width: 580px;
	height: 256px;
	position: fixed;
	top: 50%;
	left: 50%;
	padding:60px 90px;
	margin-top: -118px;
	margin-left: -350px;
	background: #FFFFFF;
	z-index: 3;
}
/*关闭按钮login_close*/
.login_close{
	width: 36px;
	height: 36px;
	position: absolute;
	right: -10px;
	top: -10px;
	background: url(../img/1_index/5_right_nav/close.png) no-repeat;
}

/*用户注册login*/
.login{
	display: none;
}
.common_login>li{
	width: 260px;
	height: 46px;
	float: left;
	text-align: center;
	line-height: 46px;
	border: 1px solid black;
}
.common_login>li a{
	font-size: 14px;
	color: black;
}
.common_login>li a:hover{
	text-decoration: underline;
}

.bg_black{
	background: black;
}
.color_f{
	color: #FFFFFF!important;
}
.login_from_left{
	width: 412px;
	height: 204px;
}
.emailverify{
	height:18px ;
	line-height: 18px;
}
.from_input{
	width: 421px;
	height: 42px;
}
.from_txt{
	height: 32px;
	padding-left: 10px;
	border: 1px solid #e2e2e2;
	color: #bbbbbb;
	font-weight: bold;
}
.login_from_left input .color_black{
	color: black;
}
.textgb{
	width: 388px;
}
.password{
	width: 206px;
	height: 42px;
	float: left;
}
.password_input{
	width: 182px;
}
.select_sex{
	width: 194px;
	height: 18;
	padding:7px 0 7px 10px;
	border: 1px solid #e2e2e2;
	color: #bbbbbb;
	font-weight: bold;
}
.codebgnumber{
	float: left;
	width: 68px;
	height: 30px;
	padding: 2px 0 0 2px;
	margin-right: 6px;
	border: 1px solid #E2E2E2;
	cursor:pointer;
	/*line-height: 30px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;*/
}
.code{
	width: 80px;
}
.clause{
	width: 412px;
	height: 18px;
	line-height: 18px;
}
.clause_a{
	color: black;
}
.clause_a:hover{
	color: #33b0f0;
	text-decoration:underline;
}

.login_from_right{
	width: 110px;
	height: 208px;
}
.login_button{
	float: left;
	width: 110px;
	height: 52px;
	padding:55px 0;
	margin-top:18px;
	background: black;
	text-align: center;
	font-size: 20px;
	color: #FFFFFF;
	font-weight: bold;
	line-height: 20px;
}
.login_button em{
	font-size: 12px;
	line-height: 14px;
}
.user_login{
	height: 18px;
	margin-top: 10px;
	color: black;
	font-size: 16px;
	font-weight: bold;
	text-decoration:underline
}

/*登录register*/
.register{
	width: 580px;
	height: 238px;
	padding: 60px 90px;
	margin-left: -350px;
	margin-top: -195px;
	position: fixed;
	left: 50%;
	top:50%;
	z-index: 3;
	background: #FFFFFF;
	display: none;
}
.register_input{
	width: 580px;
	height: 170px;
	
}

.attention{
	width: 515px;
	height: 32px;
	border: 1px solid #E2E2E2;
	margin-top: 20px;
	padding-left:10px ;
	background: #eeeeee;
	font-size: 14px;
	color: #6f6f6f;
	line-height: 32px;
}
.attention strong{
	color: black;
}
.register_content{
	width: 525px;
	height: 80px;
	margin-top: 10px;
	margin-bottom: 25px;
}
.content_left{
	width: 412px;
	height: 80px;
}
.content_left_email{
	width: 412px;
	height: 35px;
}
.r_input{
	width: 390px;
	height: 32px;
	color: #bbbbbb;
	padding-left: 10px;
	font-weight: bold;
	border: 1px solid #E2E2E2;
}
.register_buttom{
	width: 110px;
	height: 78px;
	font-size: 22px;
	font-weight: bold;
	line-height: 78px;
	text-align: center;
	color: #FFFFFF;
	background: black;
}
.register_bottom{
	width: 525px;
	height: 21px;
}
.bottom_left{
	width: 120px;
	font-size: 14px;
	color: #6f6f6f;
	line-height: 16px;
}
.bottom_right{
	
}
.bottom_right a{
	font-size: 14px;
	color: #6f6f6f;
}
.bottom_right a:hover{
	text-decoration:underline;
}
.bottom_right .register_a{
	font-size: 16px;
	color: black;
	font-weight: bold;
	text-decoration: underline;
	line-height: 19px;
}
/*隐藏支付宝登录*/
.alipay_register{
	display: none;
}
/*划过字变成蓝色*/
.hoverblue:hover{
	color:#33b0f0;
}
.header_account_pop{
	position: absolute;
	right:100px;
	top: 32px;
	width: 500px;
	text-align: right;
	/*display: none;*/
}
.header_account_pop span{
	display: inline-block;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	border: #e6e6e6 1px solid;
	background: #f4f4f4;
	padding: 0 15px;
	color: #4d4d4d;
}
.header_account_pop span a{
	font-weight: normal;
	margin: 0 5px;
	font-size: 14px;
	color: #4d4d4d;
}
